ul {
  list-style-type: none;
  margin-top: -9px;
  width: 101.5%;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
  ;
}
.last {
  float: right;
  margin-right: 110px;
}
.name {
  font-family: serif;
  float: left;
  margin-left: 125px;
  color: white;
  border-radius: 2px;
  padding:6px;
  background-color: #4aaaa5;

}

li a {
  display: block;
  color: #777777;
  width: 100%;
  padding: 3px 24px;
  text-decoration: none;
}
  
/* page basic layout */
.container{
    background-color: white;
    max-width: 960px;
    max-height: max-content;
    margin:auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
html {
    background-color: rgb(218, 209, 209);

}

.header {
    color: #4aaaa5;
    font-family: 'Georgia';
}
.border {
  color: #4aaaa5;
  background-color: #4aaaa5;
  height: 10px;
  width: 100%;
  margin-top: 70px;

}
footer {

  background-color: #777777;
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
  text-align: center;
  color: white;
  vertical-align: text-top;
}
.stuff{
    float: left;
    padding-right: 15px;
    padding-bottom: 5px;
}