ul {
    list-style-type: none;
    margin-top: -9px;
    width: 101.5%;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: right;
    ;
  }
  .last {
    float: right;
    margin-right: 120px;
  }
  .name {
    font-family: serif;
    float: left;
    margin-left: 125px;
    color: white;
    border-radius: 2px;
    padding:6px;
    background-color: #4aaaa5;
  
  }
  
  li a {
    display: block;
    color: #777777;
    padding: 3px 24px;
    text-decoration: none;
  }
  
/* page basic layout */
.container{
    background-color: white;
    max-width: 960px;
    max-height: max-content;
    margin:auto;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}
html {
    background-color: rgb(218, 209, 209);

}

.Header {
    color: #4aaaa5;
    font-family: serif;
}
.border {
    color: #4aaaa5;
    background-color: #4aaaa5;
    height: 10px;
    width: auto;
    margin-top: 30px;

}
footer {

    background-color: #777777;
    position: absolute;
    bottom: -110;
    height: 40px;
    width: 100%;
    text-align: center;
    color: white;
    vertical-align: text-top;
  }
h3 {
    color: #777777;
}
.textbox-one {
    margin-top: -10px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 1px;
    border: 1px solid #777777;
    color: #777777;
    width: auto;
    height: 25px;
}
.textbox-two {
    margin-top: -10px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 1px;
    border: 1px solid #777777;
    color: #777777;
    width: auto;
    height: 25px;
}
.textbox-three{
    margin-top: -10px;
    padding-top: 5px;
    padding-left: 5px;
    border-radius: 1px;
    border: 1px solid #777777;
    color: #777777;
    width: auto;
    height: 100px;
}
button {
    color: white;
    border-color: #4aaaa5;
    background-color: #4aaaa5;
    padding: 0px 24px;
}